h1.text-center Admin Panel

form#admin-panel
  .columns
    .column.col-6
      h2.text-center Player 1
      label Name:
      input.admin-input[type="text" value=game_state[:player1][:name] data-player="Player 1" data-field="name"]
      
      label Role:
      select.admin-input data-player="Player 1" data-field="role"
        option value="Attacker" selected=(game_state[:player1][:role] == 'Attacker') Attacker
        option value="Defender" selected=(game_state[:player1][:role] == 'Defender') Defender
      
      label Army:
      select.admin-input data-player="Player 1" data-field="army"
        - FACTIONS.each do |category, faction_list|
          optgroup label=category
            - faction_list.each do |faction_name|
              option value=faction_name selected=(game_state[:player1][:army] == faction_name) = faction_name
      
      label Detachment:
      input.admin-input[type="text" value=game_state[:player1][:detachment] data-player="Player 1" data-field="detachment"]

    .column.col-6
      h2.text-center Player 2
      label Name:
      input.admin-input[type="text" value=game_state[:player2][:name] data-player="Player 2" data-field="name"]

      label Role:
      select.admin-input data-player="Player 2" data-field="role"
        option value="Attacker" selected=(game_state[:player2][:role] == 'Attacker') Attacker
        option value="Defender" selected=(game_state[:player2][:role] == 'Defender') Defender

      label Army:
      select.admin-input data-player="Player 2" data-field="army"
        - FACTIONS.each do |category, faction_list|
          optgroup label=category
            - faction_list.each do |faction_name|
              option value=faction_name selected=(game_state[:player2][:army] == faction_name) = faction_name

      label Detachment:
      input.admin-input[type="text" value=game_state[:player2][:detachment] data-player="Player 2" data-field="detachment"]

hr

button.btn.btn-danger#reset-game Reset Game
