h1.text-center.text-light Admin Panel

javascript:
  window.addEventListener("load", function () {
    document.getElementById("admin-form").reset(); // Forces form fields to reset on page load
  });

form#admin-form
  .columns
    .column.col-6
      h2 Player 1
      label Name:
      input type="text" name="player1_name" value=game_state[:player1][:name] autocomplete="off"
      
      label Role:
      select name="player1_role"
        option value="Attacker" selected=(game_state[:player1][:role] == "Attacker") Attacker
        option value="Defender" selected=(game_state[:player1][:role] == "Defender") Defender
      
      label Army:
      select name="player1_army"
        - FACTIONS.each do |category, factions|
          optgroup label=category
            - factions.each do |faction|
              option value=faction selected=(game_state[:player1][:army] == faction) = faction
      
      label Detachment:
      input type="text" name="player1_detachment" value=game_state[:player1][:detachment] autocomplete="off"

    .column.col-6
      h2 Player 2
      label Name:
      input type="text" name="player2_name" value=game_state[:player2][:name] autocomplete="off"
      
      label Role:
      select name="player2_role"
        option value="Attacker" selected=(game_state[:player2][:role] == "Attacker") Attacker
        option value="Defender" selected=(game_state[:player2][:role] == "Defender") Defender
      
      label Army:
      select name="player2_army"
        - FACTIONS.each do |category, factions|
          optgroup label=category
            - factions.each do |faction|
              option value=faction selected=(game_state[:player2][:army] == faction) = faction
      
      label Detachment:
      input type="text" name="player2_detachment" value=game_state[:player2][:detachment] autocomplete="off"

.text-center.mt-4
  button.btn.btn-danger#end-game End Game
  button.btn.btn-warning#reset-game onclick="resetGame()" Reset Game

// Twitch Chat Section (JChat Embed)
.column.col-12.twitch-chat-container
  h2.text-center.text-light Twitch Chat
  iframe#twitch-chatbox.twitch-chat[
    src="https://www.giambaj.it/twitch/jchat/v2/?channel=your_twitch_channel&size=3&font=5&animate=true&bots=true"
    style="height: 100%; width: 100%;"]