.text-center
  button.btn.btn-lg.btn-success#next-turn Pass Turn

.columns
  .column.col-6.player-panel[style="background: linear-gradient(to bottom, #{game_state[:player1][:role] == 'Attacker' ? 'rgba(255, 0, 0, 0.8)' : 'rgba(0, 0, 255, 0.8)'}, rgba(0,0,0,0.8)), url('/images/#{game_state[:player1][:army].downcase.gsub(' ', '-')}.png'); background-size: contain; background-position: center; background-repeat: no-repeat;"]
    h2.text-center Player 1
    h3.text-center = game_state[:player1][:role]
    h4.text-center = "#{game_state[:player1][:army]} - #{game_state[:player1][:detachment]}"
    
    .text-center Primary VP | Secondary VP
    .columns
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 1" data-field="primary" data-value="1"
          i.fas.fa-arrow-up
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 1" data-field="secondary" data-value="1"
          i.fas.fa-arrow-up
    .columns
      .column.col-6.text-center.mid-text = game_state[:player1][:primary]
      .column.col-6.text-center.mid-text = game_state[:player1][:secondary]
    .columns
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 1" data-field="primary" data-value="-1"
          i.fas.fa-arrow-down
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 1" data-field="secondary" data-value="-1"
          i.fas.fa-arrow-down
    .columns
      .column.col-4.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 1" data-field="cp" data-value="1"
          i.fas.fa-plus
      .column.col-4.text-center.mid-text = game_state[:player1][:cp]
      .column.col-4.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 1" data-field="cp" data-value="-1"
          i.fas.fa-minus
    
    // Mission Draw System
    h3.text-center Mission Draw
    button.btn.btn-warning#draw-mission-p1 Draw Missions
    .mission-cards#player1-mission-cards

  .column.col-6.player-panel[style="background: linear-gradient(to bottom, #{game_state[:player2][:role] == 'Attacker' ? 'rgba(255, 0, 0, 0.8)' : 'rgba(0, 0, 255, 0.8)'}, rgba(0,0,0,0.8)), url('/images/#{game_state[:player2][:army].downcase.gsub(' ', '-')}.png'); background-size: contain; background-position: center; background-repeat: no-repeat;"]
    h2.text-center Player 2
    h3.text-center = game_state[:player2][:role]
    h4.text-center = "#{game_state[:player2][:army]} - #{game_state[:player2][:detachment]}"
    
    .text-center Primary VP | Secondary VP
    .columns
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 2" data-field="primary" data-value="1"
          i.fas.fa-arrow-up
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 2" data-field="secondary" data-value="1"
          i.fas.fa-arrow-up
    .columns
      .column.col-6.text-center.mid-text = game_state[:player2][:primary]
      .column.col-6.text-center.mid-text = game_state[:player2][:secondary]
    .columns
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 2" data-field="primary" data-value="-1"
          i.fas.fa-arrow-down
      .column.col-6.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 2" data-field="secondary" data-value="-1"
          i.fas.fa-arrow-down
    .columns
      .column.col-4.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 2" data-field="cp" data-value="1"
          i.fas.fa-plus
      .column.col-4.text-center.mid-text = game_state[:player2][:cp]
      .column.col-4.text-center
        button.btn.btn-lg.btn-primary data-update-score=true data-player="Player 2" data-field="cp" data-value="-1"
          i.fas.fa-minus
    
    // Mission Draw System
    h3.text-center Mission Draw
    button.btn.btn-warning#draw-mission-p2 Draw Missions
    .mission-cards#player2-mission-cards
